:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: rgba(255, 255, 255, 0.87);
  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}


.center {
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.text {
  width: 781px;
  height: 147px;
  flex-shrink: 0;
  color: #1c1c1c;
  text-align: center;
  margin: auto;
  font-family: Roboto, ui-monospace;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text-status {
  color: #ec6969;
}
